@model TeacherParadise.Models.POCO.CEleve
@{
    ViewData["Title"] = "Edit my profile";
    TeacherParadise.Models.POCO.CEleve eleve = (TeacherParadise.Models.POCO.CEleve)TempData["Eleve"];
}

<h1>@ViewData["Title"]</h1>

@{
    if(eleve == null) {
    <label>an error occured, please try again </label>
    } else {
        <form asp-action="ModifyProfil" method="post">
            <table>
                <tr>
                    <td>
                        <label asp-for="LastName"></label>
                    </td>
                    <td>
                        <input asp-for="LastName" value="@eleve.LastName" />
                    </td>
                    <td>
                        <span asp-validation-for="LastName"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="SurName"></label>
                    </td>
                    <td>
                        <input asp-for="SurName" value="@eleve.SurName" />
                    </td>
                    <td>
                        <span asp-validation-for="SurName"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="DoB"></label>
                    </td>
                    <td>
                        <input asp-for="DoB" value="@eleve.DoB" /> <label> @Html.DisplayFor(modelItem => eleve.DoB) </label>
                    </td>
                    <td>
                        <span asp-validation-for="DoB"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Email"></label>
                    </td>
                    <td>
                        <input asp-for="Email" value="@eleve.Email" />
                    </td>
                    <td>
                        <span asp-validation-for="Email"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="PhoneNumber"></label>
                    </td>
                    <td>
                        <input asp-for="PhoneNumber" value="@eleve.PhoneNumber" />
                    </td>
                    <td>
                        <span asp-validation-for="PhoneNumber"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Password"></label>
                    </td>
                    <td>
                        <input asp-for="Password" value="@eleve.Password" />
                    </td>
                    <td>
                        <span asp-validation-for="Password"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a asp-action="MonProfilE"> Retour </a>
                    </td>
                    <td colspan="2">
                        <input type="submit" />
                    </td>
                </tr>
            </table>
        </form>
    }

}