@model TeacherParadise.Models.POCO.CEleve
@{
    ViewData["Title"] = "My Profile";
    TeacherParadise.Models.POCO.CEleve eleve = (TeacherParadise.Models.POCO.CEleve)TempData["Eleve"];
}

<h1>@ViewData["Title"]</h1>

@{
    if(eleve == null) {
    <label> an error occured, please try again </label>
    } else {
        <table>
            <tr>
                <td>
                    <label asp-for="LastName"> </label>
                </td>
                <td>
                    <label> @Html.DisplayFor(modelItem => eleve.LastName) </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="SurName"> </label>
                </td>
                <td>
                    <label> @Html.DisplayFor(modelItem => eleve.SurName) </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="DoB"> </label>
                </td>
                <td>
                    <label> @Html.DisplayFor(modelItem => eleve.DoB) </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Email"> </label>
                </td>
                <td>
                    <label> @Html.DisplayFor(modelItem => eleve.Email) </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="PhoneNumber"> </label>
                </td>
                <td>
                    <label> @Html.DisplayFor(modelItem => eleve.PhoneNumber) </label>
                </td>
            </tr>
            <tr>
                <td>
                <td>
                    <a asp-action="Index"> Retour </a>
                </td>
                <td colspan="2">
                    <form asp-action="ModifyProfil" method="get">
                        <input type="submit" value="Modifier" />
                    </form>
                </td>
            </tr>
        </table>
    }
}