@model CCoursCollectif
@{
    ViewData["Title"] = "Modification des informations du cours";
    CCoursCollectif cours = (CCoursCollectif)TempData["CoursC"];
}

<h1>@ViewData["Title"]</h1>

<form asp-action="ModifierCoursCollectif" method="post">
    <table>
        <tr>
            <td>
                <label asp-for="Titre"></label>
            </td>
            <td>
                <input asp-for="Titre" value="@cours.Titre"/>
            </td>
            <td>
                <span asp-validation-for="Titre" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Description"></label>
            </td>
            <td>
                <input asp-for="Description" value="@cours.Description" />
            </td>
            <td>
                <span asp-validation-for="Description" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Matieres"></label>
            </td>
            <td>
                <input asp-for="Matieres" value="@cours.Matieres"/>
            </td>
            <td>
                <span asp-validation-for="Matieres" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Niveau"></label>
            </td>
            <td>
                <input asp-for="Niveau" value="@cours.Niveau"/>
            </td>
            <td>
                <span asp-validation-for="Niveau" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Date"></label>
            </td>
            <td>
                <input asp-for="Date" value="@cours.Date"/>
            </td>
            <td>
                <span asp-validation-for="Date" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="StartHour"></label>
            </td>
            <td>
                <input asp-for="StartHour" value="@cours.StartHour"/>
            </td>
            <td>
                <span asp-validation-for="StartHour" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Price"></label>
            </td>
            <td>
                <input asp-for="Price" value="@cours.Price"/>
            </td>
            <td>
                <span asp-validation-for="Price" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="MaxStudent"></label>
            </td>
            <td>
                <input asp-for="MaxStudent" value="@cours.MaxStudent"/>
            </td>
            <td>
                <span asp-validation-for="MaxStudent" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="ListCourCollectif"> Retour </a>
            </td>
            <td colspan="2">
                <input type="submit" />
            </td>
        </tr>
    </table>>
</form>